///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$color1: #072339;
$color2: #666;
$color3: #007AC7;
$sub: #56626A;
$hover: #007AC7;

$border1: #C2D4E3;

$package: #CC86FF;
$promotion: #03B218;


///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1320px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'Noto Sans KR', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
$poppins: 'Poppins', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;