@charset "utf-8";

.main{
    //1424 조금 좁은 이너
    &-inner{
        max-width:1424px;padding-left:18px;padding-right:18px;margin-left:auto;margin-right:auto;
        @media (max-width: 768px) {
            @include vw-convert-mo(padding-left, 30);@include vw-convert-mo(padding-right, 30);
        }
    }

    //1748 넓은 이너
    &-wrap{
        max-width:1748px;padding-left:16px;padding-right:16px;margin-left:auto;margin-right:auto;
        @media (max-width: 768px) {
            padding-left:10px;padding-right:10px;
        }
    }

    &-title{
        @include em-font-size-pc(45);
        &.center{
            text-align:center;
        }
        @media (max-width: 768px) {
            @include em-font-size-mo(21);text-align:center;
        }
    }
}

.search{
    &__wrap{
        display:flex;align-items:flex-end;width:100%;
        @for $i from 1 through 10{
            .w_#{$i}0{
                width:#{$i * 10 * 1%};
            }
        }
        .w_75{
            width:75%;
        }
        .w_25{
            width:25%;
        }
        .w_20{
            width:20%;
        }
        .w_35{
            width:35%;
        }
        .w_auto{
            flex:1 1 auto;width:100%;
        }
    }
    &-item{
        @include vw-convert-pc(padding, 0 10);flex:0 0 auto;


        .button{
            width:100%;
        }
    }
}

.table{
    &__wrap{

    }
    &__box{
        table{
            width:100%;table-layout: fixed;
        }
        td{
            &.left{
                text-align:left;
            }
            &.center{
                text-align:center;
            }
            &.right{
                text-align:right;
            }
        }
    }
}

